.about-section{
    background-color: #6395EE;
    color: white;
    padding: 40px 2px;
    width: 100%;
}

.about-conteiner{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 5%;
}

.about-subtitle{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.about-subtitle::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50%;
    height: 2px;
    background-color: #C9F9F9;

}

.about-text p{
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 20px;
   padding-left: 5px;
    text-align: justify;
}