.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #F6F7F9;
    border-bottom: 1px solid #eee;
    position: sticky;
    top:0;
    z-index: 1000;
    max-height: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-radius: 20px;
    margin: 15px;
}

.logo img{
    height: 8vw;
    width: auto;
    display: block;
}

.nav-links{
    display: flex;
    list-style: none;
    gap:40px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.nav-links a{
    text-decoration: none;
    color: #000;
    font-weight: 1000;
    transition: color 0.3s;
    font-size: 16px;
}
.nav-links a:hover{
    color: #00a859;
}

.btn-contactar{
    background-color: #6395EE;
    color: white;
    padding: 0.8em 25px;
    text-decoration: none;
    font-weight:bold;
    border-radius: 12px;
    transition: opacity 0.3s;
    display: inline-block;
    white-space: nowrap;
}

.btn-contactar:hover{
    opacity: 0.9;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .menu-toggle { display: flex; }

    .nav-cta { display: none; } 

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        
        top: 55px;        /* Espaçamento entre a navbar e o menu */
        left: 0;          /* Alinha com o início da navbar */
        right: 0;         /* Alinha com o fim da navbar */
        width: auto;      /* Deixa o left/right definirem a largura */
        
        background-color: white;
        padding: 25px;
        border-radius: 20px; /* Mesma curvatura da navbar para consistência */
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        gap: 20px;
        text-align: left;
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li a {
        font-size: 1.2rem;
        font-weight: 700;
        color: #1A234E;
    }
}